<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 心跳间隔，单位秒 -->
    <add key="KeepAliveInterval" value="2"/>
    <!-- 工作目录，存放临时文件 -->
    <add key="WorkFolder" value="c:\DAQTestClient_Data"/>
    <!-- 每次从服务器请求的数据块大小，在网络速度慢的时候可以把该值调小以提高性能 -->
    <add key="DataBlockSize" value="50000"/>
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8001" behaviorConfiguration="ServiceViewEventBehavior"
        binding="netTcpBinding" bindingConfiguration="CalcServiceTcpBinding"
        contract="LibCore.ICalc" name="CalcService" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1073741824"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="CalcServiceTcpBinding" receiveTimeout="00:01:00"
          sendTimeout="00:01:00" transferMode="Streamed" maxReceivedMessageSize="1073741824"
          portSharingEnabled="false">
          <readerQuotas maxDepth="1073741824" maxStringContentLength="1073741824"
            maxArrayLength="1073741824" maxBytesPerRead="1073741824" maxNameTableCharCount="1073741824" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>